@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1: #91111E;
    --cor2: #dc134c;
    --cor3: #F2B138;

    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
    --font3wd: 'Share Tech Mono', monospace;
}

body {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    font-family: var(--font0);
}

header {    
    padding-bottom: 20px;
    background-image: radial-gradient(circle, var(--cor2), var(--cor1));
    color: white;
    text-align: center;
}

header > h1 {
    background-color: black;
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--font1);
}

header > h1 > strong {
    color: var(--cor2);
    font-weight: normal;
}

header > p {
    background-color: black;
    padding-bottom: 40px;
}

section {
    height: 1000px;

    background-color: white;
    line-height: 2em;
    font-family: var(--font0);

    border: 2px solid var(--cor2) ;
}

section h2 {
    padding: 15px 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.513);
    color: white;
    text-align: center;
    font-family: var(--font2);
    font-size: 2em;
    font-variant: small-caps;

   border-radius: 0px 10px;
}

section p {
    padding: 10px 10px;
    max-width: 300px;
    background-color: white;
    text-align: justify;   
}

/* Sessoes especificas ///////////////////////////////////////////////////////////////////////////////////////////// */

section#grp {                           /* <-- Ghost Recon Phantoms */
    background: rgba(0, 0, 0, 0.356) url(imagens/ghostreconphantomswallpaper.jpg) center top fixed;
    background-size: cover;

    position: relative;
}

article#grp {
    position: absolute;
    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#grp > H2 > strong {
    color: var(--cor2);
}

section#db {                                /* <-- Dirty Bomb */
    position: relative;
    background: rgba(0, 0, 0, 0.604) url(imagens/dbwallpaper.jpg) left top fixed;
    background-size: cover;
}

article#db {
    position: absolute;
    top: 80%;
    left: 50%;

    transform:translate(-50%)
}

#db > h2 > strong {
    color: var(--cor3);
}

section#watchdogs {                          /* <-- Watch Dogs */
    position: relative;

    background-color: rgba(0, 0, 0, 0.45);
    background-image: url(imagens/watchdogswallpaper.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

article#watchdogs {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#watchdogs > h2 {
    font-family: var(--font3wd);

}

section#ascbd {                                 /* <-- Assasins Creed Brotherhood */
    position: relative;

    background-color: rgba(0, 0, 0, 0.593);
    background-image: url(imagens/ascbrotherhood.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

article#ascbd {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#ascbd > h2 > strong {
    color: var(--cor2);
}

section#mgsv {                                      /* <-- Metal Gear Solid  V */
    position: relative;

    background-color: rgba(0, 0, 0, 0.645);
    background-image: url(imagens/mgs5wallpaper.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

article#mgsv {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#mgsv > h2 > strong {
    color: var(--cor2);
}

section#crysis3 {                                           /* <-- CRYSIS 3 */
    position: relative;

    background-color: rgba(0, 0, 0, 0.497);
    background-image: url(imagens/crysis3wallpaper.jpg);
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

article#crysis3 {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#crysis3 > h2 {
    color: var(--cor2);
}

section#nfs2012 {                                   /* <-- Need For Speed Most Wanted 2012 */
    position: relative;

    background: rgba(0, 0, 0, 0.64) url(imagens/nfs2012.jpg) right center fixed;
    background-size: cover;
}

article#nfs2012 {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#nfs2012 > h2 > strong {
    color: var(--cor2);
}

/* mais desenhados */

section#bd2 {                                                      /* <-- Borderlands 2 */
    background-color: rgba(0, 0, 0, 0.522);
    background-image: url(imagens/bordelands2wallpaper.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#tf2 {                                                       /* <-- Team Fortress 2 */
    position: relative;

    background-color: rgba(0, 0, 0, 0.557);
    background-image: url(imagens/TF2-HD-Wallpaper-Free-download.jpg);
    background-position:right center;
    background-size: cover;
    background-attachment: fixed;
}

article#tf2 {
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

#tf2 > h2 {
    text-shadow: 2px 2px 6px brown;
}

/* Sessoes especificas fim ///////////////////////////////////////////////////////////////////////////////////////// */

aside {
    margin: auto;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.747);
    
}

h3 {
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.59);
    color: white;
    font-family: var(--font0);
    font-variant: small-caps;
    text-align: center;
}

h3 > strong {
    color: var(--cor2);
}

div.video {
    background-image: radial-gradient(circle, var(--cor2), var(--cor1));
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.609);
    color: white;
    text-align: center;
}

footer p {
    padding-top: 20px;
    font-size: 1.5em;
}
