@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1: #91111E;
    --cor2: #dc134c;
    --cor3: #F2B138;

    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    font-family: var(--font0);
}

header {    
    padding-bottom: 20px;
    background-image: radial-gradient(circle, var(--cor2), var(--cor1));
    color: white;
    text-align: center;
}

header > h1 {
    background-color: black;
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--font1);
}

header > h1 > strong {
    color: var(--cor2);
    font-weight: normal;
}

header > p {
    background-color: black;
    padding-bottom: 40px;
}

section {
    height: 1000px;

    background-color: white;
    line-height: 2em;
    font-family: var(--font0);
}

aside {
    padding: 10px;
    height: 100px;
    background-image: radial-gradient(circle, var(--cor2), var(--cor1));
}

section h1 {
    padding: 10px 5px;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
    font-size: 2em;
    font-variant: small-caps;
}

section p {
    padding: 10px 5px;
    max-width: 300px;
    background-color: white;
}

section#grp {
    /*background-color: rgba(0, 0, 0, 0.575);
    background-image: url(imagens/ghostreconphantomswallpaper.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;*/

    background: black url(imagens/ghostreconphantomswallpaper.jpg) center top fixed;
    background-size: cover;

    position: relative;
}

article#grp {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#grp > H1 > strong {
    color: var(--cor2);
}


