@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #45030F;
    --cor1: #91111E;
    --cor2: #dc134c;
    --cor3: #918ED5;
    --cor4: #662984;
    --cor5: #a5bbdf;

    --fonth2: Arial, Helvetica, sans-serif;
    --fontitens: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor3);
}

header {
    background-image: radial-gradient(circle, var(--cor2),var(--cor1));
    height: 120px;
}

header h1 {
    padding: 20px 0px 0px 0px;
    color: white;
    background-color: var(--cor0);
    text-align: center;
}

main {
    padding: 0px;
    margin:  auto;
    max-width: 1000px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);

}

main  h2 {
    margin-bottom: 10px;
    color: var(--cor1);
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.116);
    font-size: 1.6em;
    font-family: var(--fonth2);
}



main ol {
    padding: 10px;
    margin: auto;
    max-width: 300px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    list-style-position: inside;
    text-align: center;
    border-radius: 10px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

main ol > li {
    padding: 3px;
    margin: 10px;
    color: white;
    font-size: 1.2em;
    font-family: var(--fontitens);
}

main ul {
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    list-style-position: inside;
    list-style-type: none;
    
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
  
}

main ul > li {
    padding: 3px;
    margin: 10px;
    color: white;
    font-size: 1.2em;
    font-family: var(--fontitens);
}

section {
    padding: 0px;
    background-color: white;
    
}

footer {
    margin-top: 0px;
    height: 30px;
    background-image: radial-gradient(circle, var(--cor2),var(--cor0));
}

footer p {
    padding: 5px;
    color: white;
    text-align: center;

}



