@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor01: #D93D04;
    --cor02: #F2B138;
    --cor03: #F2AA80;
    --cor04: #bd1414;
    --cor05: #400101;

    --font-especial: 'Bebas Neue', cursive;
    --font-padrao: Arial, Helvetica, sans-serif;

    --jakobs01: #60431D;
    --jakobs02: #613418;

    --torgue01: #2E148C;
    --torgue02: #F21F0C;

    --tediore01: #1B8C57;
    --tediore02: #66D9A3;

    --maliwan01: #e95c29;
    --maliwan: #2E148C;

    --vladof01: #D90404;
 
    --dahl01: #13613c;


}

body {
    background-color: rgba(0, 0, 0, 0.849);
}

#container {
position: relative;

    height: 700px;

    background-image: url(imagens/bdwallpaper3.jpg);
    background-size: cover;
    background-position: center top;

}

#conteudo {
    padding: 10px 20px;
    max-width: 800px;

    background-image: radial-gradient(circle,black, black, transparent);

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    color: white;

    font-family: var(--font-especial);
    font-size: 2.2em;
}

#fabricantes p {
    margin-top: 15px;
}

.armaspequenas {

    margin: 10px;
    height: 120px;
    width: 250px;

    border: 2px var(--cor02) solid;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.562);
}

header {
    padding: 5px;
    height: 150px;
    background-image: linear-gradient(to right, var(--cor04),var(--cor05));
}

header h1 { 
    padding: 10px;
    max-width: 200px;
    color: var(--cor02);
    
    font-family: var(--font-especial);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.616);
}

main {
    margin: auto;
    max-width: 1000px;
    background-color: white;
}

article {
    padding: 0px 20px;
}

article h2 {
    padding: 5px 20px;
    margin: 0px -20px 10px -20px;

    background-image: linear-gradient(to right, var(--cor04),var(--cor05));
    color: var(--cor02);

    font-family: var(--font-especial);
    font-weight: normal;
    font-size: 1.8em;
}

article p {
    text-align: justify;
    line-height: 1.8em;
    font-family: var(--font-padrao);
}

mark{
    padding: 2px;
    border-radius: 5px;
}

.pexterior {
    text-indent: 30px;
}

strong.principal {
    color: var(--cor04);
    font-size: 1.05em;
}

strong.naoproduz {
    color: var(--cor01);
}

ul {
    list-style-type: none;
}

li {
    margin: 15px;
}

#jakobs {
    padding: 3px;
    color: white;
    background-image: linear-gradient(to bottom, var(--jakobs01),var(--jakobs02));

    border: 2px var(--jakobs02) solid;
    border-radius: 5px;
}

#torgue {
    padding: 3px;
    color: white;
    background-image: linear-gradient(to right, var(--torgue01), var(--torgue02)90%);
    border: 2px var(--torgue01) solid;
    border-radius: 5px;
}

#tediore {
    padding: 3px;
    color: white;
    background-image: linear-gradient(to right, var(--tediore02), var(--tediore01));

    border: 2px var(--tediore01) solid;
    border-radius: 5px;
}

#maliwan {
    padding: 3px;
    color: white;
    background-image: linear-gradient(to right, var(--maliwan), var(--maliwan01));

    border: 2px var(--maliwan) solid;
    border-radius: 5px;
}

#vladof {
    padding: 3px;
    color: var(--vladof01);
   
    border: 2px var(--vladof01) solid;
    border-radius: 5px;
}

#dahl {
    padding: 3px;
    color: white;
    color: var(--dahl01);

    border: 2px var(--dahl01) solid;
    border-radius: 5px;
}
