@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor01: #D93D04;
    --cor02: #F2B138;
    --cor03: #F2AA80;
    --cor04: #bd1414;
    --cor05: #400101;

    --font-especial: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor03);
}

header {
    padding: 5px;
    height: 150px;
    background-image: linear-gradient(to right, var(--cor04),var(--cor05));
}

header h1 { 
    padding: 10px;
    max-width: 200px;
    color: var(--cor02);
    
    font-family: var(--font-especial);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.616);
}

main {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: white;
}